<fieldset class="form-group" style='margin-left: 20px'>
<legend style="color: white">Registration</legend>
<form name='regForm' novalidate>
		<label for="firstName">First Name</label>
		<input type="text" class="form-control" name="firstName" placeholder="First name"
		ng-model = 'regCtrl.firstName'
		required
         minlength="4"
         ng-maxlength="10"> 
		
		<span ng-if="(regForm.firstName.$error.minlength || regForm.firstName.$error.required) && regForm.firstName.$touched">
            Username must be at least 4 characters long
        </span>		
		<span ng-if="regForm.firstName.$error.maxlength  && regForm.firstName.$touched">
            Username must be no more than 10 characters long
        </span>
        <br>


		<label for="secondName">Last Name</label>
		<input type="text" class="form-control" name="secondName" placeholder="Last name"
		ng-model = 'regCtrl.secondName'
		required
        minlength="4"
        ng-maxlength="10">
		
		<span ng-if="(regForm.secondName.$error.minlength || regForm.secondName.$error.required) && regForm.secondName.$touched">
            Username must be at least 4 characters long
        </span>		
		<span ng-if="regForm.secondName.$error.maxlength  && regForm.secondName.$touched">
            Username must be no more than 10 characters long
        </span>
        <br>
	

		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" placeholder="Email"
		ng-model = 'regCtrl.email'
		required>
		<span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

		<label for="phone">Phone</label>
		<input type="phone" class="form-control" name="phone" placeholder="Phone ###-###-##-##" ng-model="regCtrl.phone"
          pattern="(\d{3})-(\d{3})-(\d{2})-(\d{2})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-##-##.
          </span>
          <br>
	
	
		<label for="favoriteDish">Favorite Dish</label>
		<input type="text" class="form-control" name="favoriteDish" placeholder="Dish Number" ng-model='regCtrl.dish'
		required>
		<br>

		<button style="color: black" 
          ng-disabled="regForm.$invalid"
          ng-click="regCtrl.submit()">Submit
        </button>
        <br>

        <span ng-if='!regCtrl.found'>No such menu number exists!</span>
        <span ng-if='regCtrl.name'>Your information has been saved!</span>
	
</form>
</fieldset>
